<!DOCTYPE html>
<html>
<head>
  <title>XlsxImport</title>
  <%= stylesheet_link_tag    "xlsx_import/application", media: "all" %>
  <%= javascript_include_tag "xlsx_import/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
